.cmp-hidden {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

#cmp-chooser { display: none }

#flexo-window-cmp-chooser .cpchooser { margin: 20px }

.cmp-instruction {
	margin: 20px;
	color: #777;
	font-size: 0.9em;
	font-style: italic;
}

.cmp-field { position: relative }
.cmp-field p {
	display: block;
	margin: 0;
	line-height: 30px;
	border-bottom: 1px dotted #ccc;
}
.cmp-field > p > strong {
	position: relative;
	display: inline-block;
	width: 160px;
}
.cmp-field em {
	border-bottom: 1px dashed #00689C;
	color: #00689C;
	font-style: normal;
	cursor: pointer;
}
.cmp-field em:hover {
	border-bottom: 1px dashed #D54E21;
	color: #D54E21;
}
.cmp-field i {
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: 9999;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: -8px;
	text-indent: -9999px;
	background: 50% 50% url('../images/advanced.png') no-repeat;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}
.cmp-field:hover i {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.cmp-field > p > span,
.cmp-field > p > b {
	display: inline-block;
	width: 70%;
	font-weight: normal;
	border-bottom: none;
}
.cmp-field > p > b .select2-container { top: 1px }
.cmp-field span.loading {
	background: 0 50% url('../images/loading.gif') no-repeat;
	text-indent: -9999px;
}

#flexo-window-cmp-chooser .cpchooser-actions span { margin-left: 5px }

/*** Invites ***/
#cmp-field-invites { padding-top: 10px }
#cmp-field-invites span {
	display: none;
	margin: 0 15px 10px 0;
	padding: 1px;
	border-bottom: 1px dashed #ccc;
	color: #777;
	font-size: 0.9em;
	cursor: pointer;
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}
#cmp-field-invites span:hover {
	color: #333;
	border-bottom: 1px dashed #777;
}
.cmp-field.cmp-dropout {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

/* Select2 fix */
.cmp-metabox .select2-container-multi .select2-choices .select2-search-field input {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}