.cpchooser {}
.cpchooser-clear {
	clear: both;
	height: 0;
	overflow: hidden;
}
.cpchooser-hidden {
	position: absolute;
	left: -9999px;
	top: -9999px;
}


/*** Sidebar ***/

.cpchooser-sidebar {
	float: left;
	width: 35%;
	overflow: hidden;
	padding-bottom: 20px;
}
.cpchooser-sidebar-tree.jstree-default.jstree-focused {
	margin-left: -5px;
	background: none;
}

.cpchooser-sidebar-tree.jstree-default li { position: relative }
.cpchooser-sidebar-tree.jstree-default li a { font-size: 0.9em }

.cpchooser-group-search {
	position: relative;
	margin-bottom: 20px;
}
.cpchooser-group-search input[type="text"] { width: 90% }
body.wp-admin .cpchooser-group-search input[type="text"] { width: 97% }
.cpchooser-group-search span {
	position: absolute;
	top: 6px;
	right: 8%;
	display: block;
	width: 16px;
	height: 16px;
	background: 50% 50% url('../images/chooser/clear.png') no-repeat;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.cpchooser-group-search span:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.cpchooser-sidebar-tree.jstree-default a.jstree-search {
	color: #D54E21;
	font-style: normal;
}

.cpchooser-sidebar-tree.jstree-default li { position: relative }
.cpchooser-sidebar-tree.jstree-default li i {
	position: absolute;
	left: 21px;
	top: 1px;
	display: none;
	width: 16px;
	height: 16px;
	background: 50% 50% url('../images/chooser/add-small.png') no-repeat;
	cursor: pointer;
}
.cpchooser-sidebar-tree.jstree-default li:hover > i {
	display: block;
}


/*** Content ***/

.cpchooser-content {
	float: right;
	width: 62%;
}


/*** Search box ***/

.cpchooser-search {
	position: relative;
	margin-bottom: 20px;
}
.cpchooser-search input[type="text"] {
	float: left;
	width: 81%;
}
.cpchooser-search input[type="submit"] {
	float: right;
	width: 15%;
	padding-left: 0px;
	padding-right: 0px;
}
.cpchooser-search select {
	position: absolute;
	right: 16%;
	top: 0;
	width: 70px;
	text-align: right;
}
body.wp-admin .cpchooser-search select {
	position: absolute;
	right: 19%;
	top: 2px;
	width: 70px;
	text-align: right;
}


/*** Trigger ***/

.cpchooser-trigger {
	clear: both;
	height: 14px;
	margin-top: 10px;
}
.cpchooser-trigger label {
	display: inline-block;
	padding-right: 20px;
}


/*** Table ***/

.cpchooser-table {}
.cpchooser-loading-indicator {
	display: none;
	height: 50px;
	padding-top: 90px;
	background: 50% 40px url('../images/chooser/loading.gif') no-repeat;
	text-align: center;
	color: #247EA4;
	font-weight: bold;
}
.cpchooser-table.loading .cpchooser-loading-indicator { display: block }
.cpchooser-table.loading .cpchooser-table-content {
	position: absolute;
	left: -9999px;
}


/*** Search results ***/

.cpchooser-result,
.cpchooser-select-all {
	padding: 6px 10px;
	background: #fff 128% 50% url('../images/chooser/add.png') no-repeat;
	cursor: pointer;
	transition: background-color .2s;
	-moz-transition: background-color .2s;
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
}
.cpchooser-result:nth-child(odd) { background: #fafafa 128% 50% url('../images/chooser/add.png') no-repeat }
.cpchooser-result:hover { background: #ffc 98% 50% url('../images/chooser/add.png') no-repeat }

.cpchooser-select-all {
	font-weight: bold;
	text-align: right;
}
.cpchooser-select-all:hover { background: #ffc }

.cpchooser-not-found {
	font-size: 1.2em;
	color: #ccc;
	margin: 10px 0;
	font-style: italic;
	text-align: center;
}


/*** Results box ***/

.cpchooser-results {
	position: relative;
	clear: both;
	min-height: 24px;
	margin-top: 30px;
	padding: 5px 5px 0 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 5px #e2e2e2 inset;
	-moz-box-shadow: 0 1px 5px #e2e2e2 inset;
	-webkit-box-shadow: 0 1px 5px #e2e2e2 inset;
}
.cpchooser-results:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.cpchooser-results span {
	display: block;
	float: left;
	margin: 0 10px 5px 0;
	padding: 2px 10px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	cursor: default;
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e7e7e7 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e7e7e7 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e7e7e7 100%);
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e7e7e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e7e7e7',GradientType=0 );
}
.cpchooser-results span:hover { border: 1px solid #a5a5a5 }
.cpchooser-results span.cpchooser-group {
	border-left: 4px solid #aaa;
}
.cpchooser-results i {
	position: relative;
	left: -3px;
	bottom: -2px;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: 50% 50% url('../images/close.png') no-repeat;
	cursor: pointer;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.cpchooser-results i:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}

.cpchooser-results span.ui-state-highlight {
	width: 100px;
	min-height: 18px;
	border: 1px dashed #999;
	background: #fff;
}
.cpchooser-results span.ui-sortable-helper {
	border: 1px solid #0af;
	box-shadow: 0 2px 10px #888;
	-moz-box-shadow: 0 2px 10px #888;
	-webkit-box-shadow: 0 2px 10px #888;
}

.cpchooser-actions {
	margin: 20px 0;
	padding: 10px;
	background: #f5f5f5;
	text-align: right;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}