label {
	display:block;
	margin-bottom:5px;
}
.cp_forms a {
	text-decoration:none;
}
#form_actions_case_parameters > div{
    display: inline;
    padding: 1px;
}
#cp_case_managment_div{
	padding: 7px;
}
div#cp_add_case_data{
	text-align: right;
}
.cp_full_width{
	width: 100%;
}
.cp_field{
	!margin: 10px;
}

.cp_input_datepicker{
    padding: 0px;
}

.after-case-sidebar{
    float: right;
    width: 80%;
}

.case-sidebar{
    float: right;
    width: 20%;
    
}

#cp_field_date_deadline_view{
    display: inline;
}

.cp_forms{
    display: inline;
    vertical-align: middle;
}

.cp_section_field{
    padding: 6px 10px 8px;
    border-width: 1px 0;
    border-style: solid;
}