/*-- ACF FIX --*/
.radio input[type="radio"], .checkbox input[type="checkbox"]
{
float: none;
margin-left: 0;
}

ul.radio_list.horizontal li {
float: none;

}

.label, .badge {
background: none!important;
}

.acf_postbox .field input[type="text"], .acf_postbox .field input[type="number"], .acf_postbox .field input[type="password"], .acf_postbox .field textarea {
width: 80%!important;
}


ul.acf-radio-list {
	padding: 0!important;
	margin: 0 0 9px 25px!important;
	overflow: visible!important;
	list-style: none;
}

ul.checkbox_list {
	margin: 0 0 9px 25px!important;
	list-style: none;
}