/**
 * Tabbed Admin Page (CSS)
 *
 * @author Tom Klingenberg 
 * @colordef #dfdfdf light-grey (tabs border color)
 * @colordef #f9f9f9 very-light-grey (admin standard background color)
 */
.check_state_highlight{
	height: 20px;
	width: 200px;
	background-color: #5BB75B;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.check_form{
	height: 12px;
	width: 80%;
}


.check_form_sp{
	cursor: pointer;
	
}

.check_del_image{
	margin-bottom: 1px;
	margin-left: 10px;
	cursor: pointer;	
	float: right;
}
.check_ok_image{
	margin-bottom: 1px;
	margin-left: 10px;
	cursor: pointer;	
}
.check_unchecked_image{
	margin-bottom: 3px;
	cursor: pointer;
	padding-right: 5px;
	
	height: 14px;
}
.check_checked_image{
	margin-bottom: 3px;
	cursor: pointer;
	padding-right: 5px;
	
	height: 14px;
}
.check_move_image{
	margin-bottom: 3px;
	padding-right: 5px;
	height: 14px;
	
	
}
.check_move_image:hover{
	cursor: move;
}
.div_check_container{
	padding: 5px;
}

.ch_hide{
	display: none;
}
.ch_show{
	
}


.check_li_test ul{
	padding-left: 23px !important;
	list-style: none !important;
	margin: 0 !important;
}


.ui-state-drop-highlight{
	border: 1px solid red;
}


.mjs-nestedSortable-error {
			background: #fbe3e4;
			border-color: transparent;
}

.check_ul_sortable {
	list-style: none !important;
	margin: 0 !important;
}




