/* Frontend styles */

#ckpp-box-dossier {}
#ckpp-box-dossier .cases-box-actions { margin-top: 0 }
#ckpp-box-dossier .cases-box-content .actions { display: none }
#ckpp-box-dossier-loading-text {
	padding-top: 70px;
	text-align: center;
	font-weight: bold;
	color: #2C7EAC;
}

.ckpp-fancy-data p {
	display: block;
	border-bottom: 1px dotted #ccc;
}
.ckpp-fancy-data strong {
	display: inline-block;
	width: 50%;
}

.ckpp-data-col {
	float: left;
	width: 47%;
	min-width: 200px;
	margin: 0 3% 0 0;
	padding-bottom: 2em;
}
.ckpp-data-col-wide {
	float: none;
	width: 100%;
	min-width: 200px;
	margin: 0;
}
.ckpp-data-col h4 {
	margin: 0 0 7px 0;
	padding: 0 0 7px 0;
	border-bottom: 2px solid #eee;
}
.ckpp-data-clear { clear: both }

#ckpp-box-data .cases-box-content img {
	float: left;
	width: 200px;
}
#ckpp-box-data .ckpp-data-float { margin-left: 230px }

.ckpp-loading {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: 50% 50% url("../images/loading.gif") no-repeat;
}
.ckpp-loading-boxed {
	min-height: 100px;
	background: 50% 50% url("../images/loading.gif") no-repeat;
}