#wp-admin-bar-cip-message .ab-icon,
#wp-admin-bar-cip-incoming .ab-icon {
	margin-right: 2px;
	background: 0 100% url("../images/add.png") no-repeat;
}
#wp-admin-bar-cip-message.hover .ab-icon,
#wp-admin-bar-cip-message :hover .ab-icon,
#wp-admin-bar-cip-incoming.hover .ab-icon,
#wp-admin-bar-cip-incoming :hover .ab-icon { background: 0 0 url("../images/add.png") no-repeat }
#wp-admin-bar-go-to-site .ab-icon { background: left bottom url("../images/site-dashboard.png") no-repeat }
#wp-admin-bar-go-to-dashboard .ab-icon { background: right bottom url("../images/site-dashboard.png") no-repeat }
#wp-admin-bar-go-to-site :hover .ab-icon { background: left top url("../images/site-dashboard.png") no-repeat }
#wp-admin-bar-go-to-dashboard :hover .ab-icon { background: right top url("../images/site-dashboard.png") no-repeat }

#cip-loading {
	position: fixed;
	left: 50%;
	top: 50%;
	display: block;
	width: 140px;
	height: 35px;
	margin: -50px 0 0 -70px;
	padding-top: 65px;
	background: #fff 50% 15px url("../images/loading.gif") no-repeat;
	text-align: center;
	font-weight: bold;
	color: #3B84A3;
	font-size: 13px;
	z-index: 90100;
	box-shadow: 0 0 10px #3B84A3;
	-moz-box-shadow: 0 0 10px #3B84A3;
	-webkit-box-shadow: 0 0 10px #3B84A3;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* form elements */
#cip-dialog-form {
	margin: 0;
	padding: 10px;
}

#cip-dialog input[type="text"],
#cip-dialog textarea,
#cip-dialog select {
	width: 95% !important;
	margin: 0 !important;
}

#cip_incoming_participants_chzn input[type="text"],
#cip_message_participants_chzn input[type="text"] {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

#cip-dialog h4 { margin: 0 0 0.2em 0 }
#cip-dialog h4 label {
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}
#cip-dialog p { padding: 0 0 10px 0 }

#cip-success { margin: 10px }
#cip-success h4 {
	color: #0b0;
	margin: 0 0 0.7em 0;
	font-size: 1.3em;
}
#cip-success li { margin: 0 0 0.5em 0 }

#cip-errors {
	margin: 10px;
	padding: 10px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	border: 1px solid #b00;
	background: #FFE6E6;
	color: #b00;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.cip-req {
	font-weight: bold;
	color: red;
	line-height: 0.8em;
	font-size: 1.2em;
}

.cip-center { text-align: center }

#flexo-window-cip .flexo-footer { text-align: right }
#flexo-window-cip .flexo-footer button {
	display: none;
	margin: 10px 12px 0 0;
}
#flexo-window-cip .flexo-footer button.cip-visible { display: inline-block }

.cip-loading-indicator {
	display: none;
	width: 20px;
	height: 20px;
	margin: 10px 12px 0 0;
	background: 50% 50% url('../images/loading-indicator.gif') no-repeat;
}
.cip-loading-indicator.cip-visible { display: inline-block }