/***********************************
	Common styles
***********************************/

.gndev-plugin-column {
	float: left;
	width: 46%;
	margin-right: 4%;
	min-width: 300px;
}

.gndev-plugin-clear {
	display: block;
	height: 0;
	clear: both;
}

.gndev-plugin-hidden { display: none }



/***********************************
	Plugin specific styles
***********************************/

.cmmngt-flex-column {
	width: 100%;
	min-width: 250px;
}
@media screen and (min-width: 610px) and (max-width: 850px), (min-width: 950px) {
	.cmmngt-flex-column {
		float: left;
		width: 47%;
		margin-right: 3%;
	}
}

/* select2 */
.cmmngt-init-select2,
.cmmngt-init-select2-ajax { width: 100% }

/* Fix multiple select text field */
input[type="text"].select2-input {
	box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
}

/* Loading animation */
#cmmngt-loading {
	display: none;
	height: 20px;
	line-height: 20px;
	margin: 20px auto;
	background: #fff 50% 0 url('../images/loading.gif') no-repeat;
	text-align: center;
	padding: 50px 10px 10px 10px;
	color: #247EA4;
	font-weight: bold;
}

.cmmngt-chosen-loading { background: 97% 50% url('../images/spinner.gif') no-repeat !important }

.cmmngt-container { line-height: 30px }
.cmmngt-hidden { display: none }

.cmmngt-loading,
.cmmngt-loading-persons {
	position: relative;
	bottom: -6px;
	left: 10px;
	display: none;
	width: 20px;
	height: 20px;
	background: center center url('../images/loading.gif') no-repeat;
}
.cmmngt-loading.visible,
.cmmngt-loading-persons.visible { display: inline-block }

.cmmngt-close-select {
	display: none;
	margin-top: 1em;
	padding: 1em;
	border: 1px solid #E6DB55;
	background: #FFFFE0;
}
.cmmngt-close-select p {
	margin: 0 0 0.5em 0;
	line-height: 1em;
	font-weight: bold;
}
.cmmngt-close-select select { min-width: 300px }
.cmmngt-close-select.visible { display: block }

.cmmngt-cancel-closing { color: #f03 }

/* Buttons*/
.cmmngt-publish,
.cmmngt-save {
	background-color: hsl(195, 60%, 35%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
	background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
	background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
	background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
	background-image: -o-linear-gradient(top, #2d95b7, #23748e);
	background-image: linear-gradient(#2d95b7, #23748e);
	border-color: #23748e #23748e hsl(195, 60%, 32.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
	-moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
	-webkit-font-smoothing: antialiased;
}
.cmmngt-accept,
.cmmngt-accept,
.cmmngt-restore {
	background-color: hsl(129, 37%, 42%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5eb56b", endColorstr="#43924f");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5eb56b), to(#43924f));
	background-image: -moz-linear-gradient(top, #5eb56b, #43924f);
	background-image: -ms-linear-gradient(top, #5eb56b, #43924f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5eb56b), color-stop(100%, #43924f));
	background-image: -webkit-linear-gradient(top, #5eb56b, #43924f);
	background-image: -o-linear-gradient(top, #5eb56b, #43924f);
	background-image: linear-gradient(#5eb56b, #43924f);
	border-color: #43924f #43924f hsl(129, 37%, 39%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
	-webkit-font-smoothing: antialiased;
}
.cmmngt-hold {
	background-color: hsl(43, 100%, 40%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffbc14", endColorstr="#cc9200");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ffbc14), to(#cc9200));
	background-image: -moz-linear-gradient(top, #ffbc14, #cc9200);
	background-image: -ms-linear-gradient(top, #ffbc14, #cc9200);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffbc14), color-stop(100%, #cc9200));
	background-image: -webkit-linear-gradient(top, #ffbc14, #cc9200);
	background-image: -o-linear-gradient(top, #ffbc14, #cc9200);
	background-image: linear-gradient(#ffbc14, #cc9200);
	border-color: #cc9200 #cc9200 hsl(43, 100%, 36.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
	-webkit-font-smoothing: antialiased;
}
.cmmngt-delete {
	background-color: hsl(0, 79%, 40%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e73636", endColorstr="#b61515");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e73636), to(#b61515));
	background-image: -moz-linear-gradient(top, #e73636, #b61515);
	background-image: -ms-linear-gradient(top, #e73636, #b61515);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e73636), color-stop(100%, #b61515));
	background-image: -webkit-linear-gradient(top, #e73636, #b61515);
	background-image: -o-linear-gradient(top, #e73636, #b61515);
	background-image: linear-gradient(#e73636, #b61515);
	border-color: #b61515 #b61515 hsl(0, 79%, 36%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26);
	-webkit-font-smoothing: antialiased;
}

.select2-searching {
	background: #F4F4F4 95% 50% url('../images/loading.gif') no-repeat !important;
}

/* Delegate action */
#cmmngt-delegate-select-box {
	display: none;
	margin-top: 1.5em;
}

/* Fields invites */

#cmmngt-field-invites {
	margin-top: 20px;
}
#cmmngt-field-invites span {
	display: none;
	margin: 0 15px 10px 0;
	padding: 1px;
	border-bottom: 1px dashed #ccc;
	color: #777;
	font-size: 0.9em;
	cursor: pointer;
	transition:all .2s;
	-moz-transition:all .2s;
	-webkit-transition:all .2s;
	-o-transition:all .2s
}
#cmmngt-field-invites span:hover {
	color: #333;
	border-bottom: 1px dashed #777;
}
#cmmngt-field-invites span.visible {
	display: inline-block;
}

p.cmmngt-invited-field {}
p.cmmngt-invited-field strong {
	display: block;
	margin-bottom: 1em;
}

.cmmngt-dropped-field {
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute !important;
	left: -9999px;
}

.cmmngt-container button,
.cmmngt-container .button-group { margin-bottom: 10px }

.cmmngt-field-loading {
	height: 56px;
	text-indent: -9999px;
	background: 50% 50% url('../images/loading.gif') no-repeat;
}
.cmmngt-field-loading .select2-container {
	position: absolute;
	left: -9999px;
	top: -9999px;
}