/*-- ACF FIX --*/
.radio input[type="radio"], .checkbox input[type="checkbox"]
{
float: none;
margin-left: 0!important;
}

form.acf-form .label {
text-transform: none;
}

ul.radio_list.horizontal li {
float: none;
}

.acf-form .label, .acf-form .badge {
background: none!important;
}

ul.acf-radio-list {
	padding: 0!important;
	overflow: visible!important;
	list-style: none;
}

ul.checkbox_list {
	margin: 0 0 9px 25px!important;
	list-style: none;
}
.acf-radio-list li, .acf-checkbox-list li {
	list-style: none !important;
}
.acf-checkbox-list li .checkbox {
  margin-top: 5px;
}

.widefat {
  background-color:#f1f1f1!important;
  border:1px solid #DFDFDF!important;
  border-top-left-radius:3px!important;
  border-top-right-radius:3px!important;
}


/*
ACF Relationship
*/
.acf_relationship {
position: relative;
overflow: hidden;
}

.acf_relationship .relationship_left {
width: 50%;
float: left;
}

.acf_relationship .widefat {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

tr.row:before, tr.row:after {
    display: none !important;
}
td.remove .acf-button-add {
    margin-top: -18px !important;
}
td.remove .acf-button-remove {
    margin-bottom: -18px !important;
}
	
.relationship_search {
	height:26px!important;
	border:1px solid #dfdfdf!important;
	box-sizing:border-box!important;
	}

.bl.relationship_list.ui-sortable {
	border:1px solid #dfdfdf!important;
	}

/*
Orhers
*/

.widefat {
border-spacing: 0;
width: 100%;
clear: both;
margin: 0;
}

.widefat th {
text-align: left;
line-height: 1.3em;
font-size: 14px;
}
.widefat td, .widefat th {
padding: 8px 10px;
}


.acf_relationship .relationship_list li a .acf-button-add, .acf_relationship .relationship_list li a .acf-button-remove {
position: absolute;
top: 5px;
right: 5px;
display: none;
cursor: pointer;
}

.textarea, .password, .email, .number, .text {
	padding:5px 0 5px 0!important;
	border:1px solid #dfdfdf!important;
	}

.acf_postbox .field input[type="text"], .acf_postbox .field input[type="number"], .acf_postbox .field input[type="password"], .acf_postbox .field input[type="email"], .acf_postbox .field textarea {
  padding: 0 5px !important;
}